.Home {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    
}
.quote h3{
    font-family: Taviraj;
    font-size: 24px;
}
.quote p{
    font-size: 20px;
    font-family: Taviraj;
}

.Home__logo{
    width: 50%;
}
.githubLogo{
   margin-left: 90%;
    
}